In [118]:
library(XML)

In [119]:
menURLs = 
  c("results/1999/cb99m.html","results/2012/2012cucb10m-m.htm")
ubase = "http://www.cherryblossom.org/"
murls = paste(ubase, menURLs, sep = "")

murls[1:2]

[1] "http://www.cherryblossom.org/results/1999/cb99m.html"
[2] "http://www.cherryblossom.org/results/2012/2012cucb10m-m.htm"

In [120]:
murls==urls

[1] TRUE TRUE

In [121]:
womenURLs = 
  c("results/1999/cb99f.html","results/2012/2012cucb10m-f.htm")
ubase = "http://www.cherryblossom.org/"
furls = paste(ubase, womenURLs, sep = "")

furls[1:2]

[1] "http://www.cherryblossom.org/results/1999/cb99f.html"
[2] "http://www.cherryblossom.org/results/2012/2012cucb10m-f.htm"

In [122]:
extractResTable =
  #
  # Retrieve data from web site, 
  # find the preformatted text,
  # and write lines or return as a character vector.
  #
  function(url = "http://www.cherryblossom.org/results/2009/09cucb-F.htm",
           year = 1999, sex = "male", file = NULL)
  {
    doc = htmlParse(url, encoding= 'UTF-8')

    if (year == 2000) {

      # Get preformatted text from 4th font element
      # The top file is ill formed so the <pre> search doesn't work.
      ff = getNodeSet(doc, "//font")
      txt = xmlValue(ff[[4]])
      els = strsplit(txt, "\r\n")[[1]]
    }
    else if (year == 2009 & sex == "male") {
      # Get preformatted text from <div class="Section1"> element
      # Each line of results is in a <pre> element
      div1 = getNodeSet(doc, "//div[@class='Section1']")
      pres = getNodeSet(div1[[1]], "//pre")
      els = sapply(pres, xmlValue)
    }         
    else if (year == 1999 & sex == "male") {
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\n")[[1]]   
    } 
  
    
    else {
      # Get preformatted text from <pre> elements
      pres = getNodeSet(doc, "//pre")
      txt = xmlValue(pres[[1]])
      els = strsplit(txt, "\r\n")[[1]]   
    } 
    
    if (is.null(file)) return(els)
    # Write the lines as a text file.
    writeLines(els, con = file)
  }

In [123]:
menTables = mapply(extractResTable, url = urls, year = years)
names(menTables) = years
sapply(menTables, length)

1999 2012
3193 7201

In [137]:
womenTables = mapply(extractResTable, url = furls, year = years)
names(menTables) = years
sapply(menTables, length)

1999 2012
3193 7201

In [125]:
#m2012 = read.table(file="MenTxt/2012.txt", skip = 8)
m2012 = menTables$'2012'[-1:-8]

#els = readLines("MenTxt/2012.txt")
els = menTables$'2012'

els[1:10]

 [1] ""
 [2] "                 Credit Union Cherry Blossom Ten Mile Run"
 [3] "                 Washington, DC     Sunday, April 1, 2012"
 [4] ""
 [5] "                Official Male Results (Sorted By Net Time)"
 [6] ""
 [7] "Place Div  /Tot   Num    Name                   Ag Hometown             5 Mile  Time    Pace  "
 [8] "===== =========== ====== ====================== == ==================== ======= ======= ===== "
 [9] "    1     1/347        9 Allan Kiprono          22 Kenya                  22:32   45:15  4:32 "
[10] "    2     2/347       11 Lani Kiplagat          23 Kenya                  22:38   46:28  4:39 "

In [126]:
eqIndex = grep("^===", els)
eqIndex

first3 = substr(els, 1, 3)
which(first3 == "===")

spacerRow = els[eqIndex]
headerRow = els[eqIndex - 1]
body = els[ -(1:eqIndex) ]

headerRow = tolower(headerRow)

ageStart = regexpr("ag", headerRow)
ageStart

age = substr(body, start = ageStart, stop = ageStart + 1)
head(age)

summary(as.numeric(age))

blankLocs = gregexpr(" ", spacerRow)
blankLocs

searchLocs = c(0, blankLocs[[1]])

Values = mapply(substr, list(body), 
                start = searchLocs[ -length(searchLocs)] + 1, 
                stop = searchLocs[ -1 ] - 1)

[1] 8

[1] 8

[1] 49
attr(,"match.length")
[1] 2
attr(,"index.type")
[1] "chars"
attr(,"useBytes")
[1] TRUE

[1] "22" "23" "36" "27" "24" "31"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   9.00   29.00   35.00   37.75   45.00   89.00       1

[[1]]
[1]  6 18 25 48 51 72 80 88 94
attr(,"match.length")
[1] 1 1 1 1 1 1 1 1 1
attr(,"index.type")
[1] "chars"
attr(,"useBytes")
[1] TRUE

In [127]:
findColLocs = function(spacerRow) {

  spaceLocs = gregexpr(" ", spacerRow)[[1]]
  rowLength = nchar(spacerRow)

  if (substring(spacerRow, rowLength, rowLength) != " ")
    return( c(0, spaceLocs, rowLength + 1))
  else return(c(0, spaceLocs))
}

selectCols = 
function(colNames, headerRow, searchLocs) 
{
  sapply(colNames, 
         function(name, headerRow, searchLocs)
         {
           startPos = regexpr(name, headerRow)[[1]]
           if (startPos == -1) 
             return( c(NA, NA) )
    
           index = sum(startPos >= searchLocs)
           c(searchLocs[index] + 1, searchLocs[index + 1] - 1)
         },
         headerRow = headerRow, searchLocs = searchLocs )
}

searchLocs = findColLocs(spacerRow)
ageLoc = selectCols("ag", headerRow, searchLocs) 
ages = mapply(substr, list(body), 
              start = ageLoc[1,], stop = ageLoc[2, ])

summary(as.numeric(ages))

shortColNames = c("name", "home", "ag", "gun", "net", "time")

locCols = selectCols(shortColNames, headerRow, searchLocs)

Values = mapply(substr, list(body), start = locCols[1, ], 
                stop = locCols[2, ])

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   9.00   29.00   35.00   37.75   45.00   89.00       1

In [128]:
class(Values)

colnames(Values) = shortColNames
head(Values)

tail(Values)[ , 1:3]

extractVariables = 
  function(file, varNames =c("name", "home", "ag", "gun",
                             "net", "time"))
{
       # Find the index of the row with =s
  eqIndex = grep("^===", file)
       # Extract the two key rows and the data
  spacerRow = file[eqIndex] 
  headerRow = tolower(file[ eqIndex - 1 ])
  body = file[ -(1 : eqIndex) ]
       
       # Obtain the starting and ending positions of variables
  searchLocs = findColLocs(spacerRow)
  locCols = selectCols(varNames, headerRow, searchLocs)

  Values = mapply(substr, list(body), start = locCols[1, ], 
                  stop = locCols[2, ])
  colnames(Values) = varNames
  
  invisible(Values)
}

[1] "matrix"

     name                   home                 ag gun net time
[1,] Allan Kiprono          Kenya                22 NA  NA    45:15
[2,] Lani Kiplagat          Kenya                23 NA  NA    46:28
[3,] John Korir             Kenya                36 NA  NA    47:33
[4,] Ian Burrell            Tucson AZ            27 NA  NA    47:34
[5,] Jesse Cherry           Blowing Rock NC      24 NA  NA    47:40
[6,] Ketema Nugusse         Ethiopia             31 NA  NA    47:50

        name                   home                 ag
[7188,] Dana Brown             Randallstown MD      41
[7189,] Jurek Grabowski        Fairfax VA           39
[7190,] Larry Hume             Arlington VA         56
[7191,] Sean-Patrick Alexander Alexandria VA        35
[7192,] Joseph White           Forestville MD
[7193,] Lee Jordan             Herndon VA           48

In [140]:
names(womenTables) = years

In [138]:
mfilenames = paste("data/MenTxt/", years, ".txt", sep = "")
write(menTables$'1999',mfilenames[1])
write(menTables$'2012',mfilenames[2])

In [130]:
mfilenames = paste("data/MenTxt/", readYears, ".txt", sep = "")
menFiles = lapply(mfilenames, readLines)
names(menFiles) = readYears

menResMat = lapply(menFiles, extractVariables)
length(menResMat)

sapply(menResMat, nrow)

age = sapply(menResMat,
             function(x) as.numeric(x[ , 'ag']))

[1] 2

1999 2012
3190 7193

[1] 41 39 56 35 NA 48

In [141]:
wfilenames = paste("data/WomenTxt/", years, ".txt", sep = "")
write(womenTables$'1999',wfilenames[1])
write(womenTables$'2012',wfilenames[2])

In [144]:
wfilenames = paste("data/WomenTxt/", readYears, ".txt", sep = "")
womenFiles = lapply(mfilenames, readLines)
names(womenFiles) = years

womenResMat = lapply(womenFiles, extractVariables)
length(womenResMat)

sapply(womenResMat, nrow)


age = sapply(womenResMat,
             function(x) as.numeric(x[ , 'ag']))

[1] 2

1999 2012
3190 7193

In [167]:
shortColNames = c("name", "home", "ag", "gun", "net", "time","sex","year")

In [168]:
w99 = womenResMat['1999']
w99 = as.data.frame(w99)
w99['sex']= 'female'
w99['year']= '1999'

names(w99)= shortColNames

w12 = womenResMat['2012']
w12 = as.data.frame(w12)
w12['sex']= 'female'
w12['year']= '2012'
names(w12)= shortColNames


m99 = menResMat['1999']
m99 = as.data.frame(m99)
m99['sex']= 'male'
m99['year']= '1999'
names(m99)= shortColNames


m12 = menResMat['1999']
m12 = as.data.frame(m12)
m12['sex']= 'male'
m12['year']= '2012'
names(m12)= shortColNames

In [171]:
raceDf = rbind(w99,w12,m99,w12)

In [172]:
raceDf

      name                   home                 ag gun net time    sex
1     Worku Bikila           Ethiopia             28 NA  NA    46:59 female
2     Lazarus Nyakeraka      Kenya                24 NA  NA    47:01 female
3     James Kariuki          Kenya                27 NA  NA    47:03 female
4     William Kiptum         Kenya                28 NA  NA    47:07 female
5     Joseph Kimani          Kenya                26 NA  NA    47:31 female
6     Josphat Machuka        Kenya                25 NA  NA    47:33 female
7     Julius Randich         Kenya                26 NA  NA    47:37 female
8     Leonid Shvetsov        Russia               30 NA  NA    49:10 female
9     Reuben Chesang         Kenya                38 NA  NA    49:22 female
10    Daniel Kihara          Kenya                30 NA  NA    49:23 female
11    Kibet Cherop           Kenya                24 NA  NA    49:26 female
12    Ben Kimondieu          Kenya                21 NA  NA    49:37 female
13    Jacob Kirua            Kenya                23 NA  NA    50:05 female
14    Simon Cherogony        Kenya                27 NA  NA    50:17 female
15    Eric Morrison          Lakewood CO          28 NA  NA    50:35 female
16    Mark Gilmore           Columbia MD          31 NA  NA    50:40 female
17    Phillippe Rolly        France               26 NA  NA    51:00 female
18    Jason Bodnar           Davie FL             28 NA  NA    51:15 female
19    Bernard Kitur          Aurora CO            27 NA  NA    51:17 female
20    Todd Reeser            Canandaigua NY       25 NA  NA    51:42 female
21    Chris Chattin          Columbia MD          35 NA  NA    52:22 female
22    Andrew Klemas          Falls Church VA      35 NA  NA    52:25 female
23    Gerry Clapper          Columbia MD          37 NA  NA    52:27 female
24    Dave Berardi           Baltimore MD         38 NA  NA    52:29 female
25    Gary O'donnell         Arlington VA         26 NA  NA    52:32 female
26    Rob Magin              Gaithersburg MD      28 NA  NA    52:40 female
27    Luis Del Aguila        State College PA     29 NA  NA    52:57 female
28    Robert Walker          Silver Spring MD     31 NA  NA    53:24 female
29    Bill Rodgers           Sherborn MA          51 NA  NA    54:03 female
30    Mark Hoon              Kensington MD        34 NA  NA    54:13 female
⋮     ⋮                      ⋮                    ⋮  ⋮   ⋮   ⋮       ⋮
20737 Nick Palarino          Bowie MD             65 NA  NA  2:17:08 female
20738 Ivan Billings          Washington DC        27 NA  NA  2:17:15 female
20739 Joseph Aldridge        Arlington VA         30 NA  NA  2:17:25 female
20740 John Childers          Arlington VA         30 NA  NA  2:17:27 female
20741 Alan McLaine           Columbia MD          65 NA  NA  2:18:00 female
20742 Dustin Terrill         McLean VA            27 NA  NA  2:18:14 female
20743 Ralph Dixon            Waldorf MD           39 NA  NA  2:18:24 female
20744 Gary Kodeck            Owings Mills MD      60 NA  NA  2:18:40 female
20745 David Conover          Silver Spring MD     46 NA  NA  2:18:42 female
20746 Andres Esteban-Rodrigu Woodbridge VA        28 NA  NA  2:18:53 female
20747 Andrew Fitzpatrick     Drexel Hill PA       24 NA  NA  2:19:06 female
20748 Hal Laurent            Baltimore MD         58 NA  NA  2:19:09 female
20749 Vasilios Stayeas       Germantown MD        65 NA  NA  2:20:14 female
20750 Rajesh Madireddy       Ashburn VA           44 NA  NA  2:21:23 female
20751 C.J. Batten            Centreville VA       30 NA  NA  2:21:43 female
20752 Earnest Lawrence       Bowie MD             37 NA  NA  2:23:02 female
20753 Tate Srey              Centreville VA       30 NA  NA  2:23:17 female
20754 Abraham Beltran        Germantown MD        59 NA  NA  2:23:26 female
20755 William Lee            Washington DC        44 NA  NA  2:23:41 female
20756 Dennis Smith           Brambleton VA        46 NA  NA  2:24:02 female
20757 Santa Schreurs         Olney MD             63 NA  NA  2:24:05 female
20758 Chau Nguyen            Rockville MD         41 NA  NA  2:24:48 female
20759 Kerry Kilman           Rockville MD         64 NA  NA  2:25:00 female
20760 Steve Scharf           Gaithersburg MD      66 NA  NA  2:25:52 female
20761 Dana Brown             Randallstown MD      41 NA  NA  2:26:47 female
20762 Jurek Grabowski        Fairfax VA           39 NA  NA  2:27:11 female
20763 Larry Hume             Arlington VA         56 NA  NA  2:27:20 female
20764 Sean-Patrick Alexander Alexandria VA        35 NA  NA  2:27:30 female
20765 Joseph White           Forestville MD          NA  NA  2:28:58 female
20766 Lee Jordan             Herndon VA           48 NA  NA  2:30:59 female
      year
1     1999
2     1999
3     1999
4     1999
5     1999
6     1999
7     1999
8     1999
9     1999
10    1999
11    1999
12    1999
13    1999
14    1999
15    1999
16    1999
17    1999
18    1999
19    1999
20    1999
21    1999
22    1999
23    1999
24    1999
25    1999
26    1999
27    1999
28    1999
29    1999
30    1999
⋮     ⋮
20737 2012
20738 2012
20739 2012
20740 2012
20741 2012
20742 2012
20743 2012
20744 2012
20745 2012
20746 2012
20747 2012
20748 2012
20749 2012
20750 2012
20751 2012
20752 2012
20753 2012
20754 2012
20755 2012
20756 2012
20757 2012
20758 2012
20759 2012
20760 2012
20761 2012
20762 2012
20763 2012
20764 2012
20765 2012
20766 2012